.col1{
    border: 1px solid black;
    width: 300px;
    height: 350px;
    text-align: center;
   margin-right: 400px;
   /* margin-top: 150px; */
   /* padding-top: 200px; */
   /* padding-top: -200px; */
 box-shadow: 0 0  15px black;
     background-color: rgb(235, 230, 230);
  
}
.col{

     background-image:url('../src/assets/OIP. bg img 3.webp');
   background-repeat: no-repeat;
   background-size: cover;
   width: 102%;
   height: 95vh;
   top: 0%;
   padding: 0%;
   margin: 0%;
   /* margin-top: -150px; */
    display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;
   
}
.busimg{
  width: 200px;
  height: 100px;
}
.onclick{
  width: 80px;
  height: 30px;
  border-radius: 10px;
}
.onclick:hover{
  background-color: blue;
}

.bt{
  width: 120px;
  height: 45px;
}
.bt:hover{
  background: red;
}

.per{
  width:20%;
  height: 40vh;
 background-color: rgb(236, 234, 206);
  text-align: center;
  margin-left: 350px;
  margin-top: -300px;
  box-shadow: 6px 8px  15px black;

}
.per:hover{
  scale: 1.1;
}
.name{
  /* width: 100px; */
  height: 3vh;
  margin-top: 10px;
}
.con{
  margin-top: 30px;
  height: 5vh;
  border-radius: 15px;
}
.con:hover{
  background-color: rgb(230, 30, 30);
}
.ticket{
  width: 20%;
 padding-left: 10px;
  height: 51vh;
  background-color: rgb(20, 20, 22);
  /* border-radius: -10px; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  margin-top: 70px;
  margin-left: 50px;
  box-shadow: 0 0 15px black;
}
.bg3{
    background-image:url('../src/assets/OIP. bg img 3.webp');
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   height: 90vh;

}